html, body {
    background-color: #9d97ac;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  footer {
    margin-top: auto;
    background-color: #DCDCDC;
  }

  main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #calculator {
    background-color: grey;
    border-color: rgb(30, 27, 32);
    border-style: solid;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 250px;
    height: 400px;
  }
  @media screen and (min-width: 800px) {
    #calculator {
      height: 700px;
      width: 500px;
    }
  }
  button{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(134, 118, 224);
    border-radius: 10px 10px 17px 17px;
    border-color: black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.61);
    color: rgb(226, 234, 235);
    font-size: x-large;
    font-weight: 700;
  }

  #display{
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: lightgrey;
    flex: 1;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 46px;
    border-color: rgb(54, 52, 52);
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
  }

  #buttons {
    display: grid;
    flex: 2;
    grid-template-areas: 
    'button button button button'
    'button button button button'
    'button button button button'
    'button button button button'
    'button button button button';
    row-gap: 7px;
    column-gap: 10px;
  }
  #bc{
    grid-column: 1/span 2;
  }
  #bdel{
    grid-column: 3/span 2;
  }