html, body {
    background-color: #9d97ac;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  footer {
    margin-top: auto;
    background-color: #DCDCDC;
  }

  main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #calculator {
    background-color: grey;
    border-color: b;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 800px;
    height: 800px;
  }

  button{
    background-color: rgb(134, 118, 224);
    border-radius: 10px 10px 17px 17px;
    border-color: black;
    color: white;
    font-size: x-large;
    font-weight: 700;
  }

  #display{
    background-color: lightgrey;
    flex: 1;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 46px;
    border-color: rgb(54, 52, 52);
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
  }
  #buttons {
    display: grid;
    flex: 2;
    grid-template-areas: 
    'button button button button'
    'button button button button'
    'button button button button'
    'button button button button'
    'button button button button';
    row-gap: 7px;
    column-gap: 10px;
  }
  #bc{
    grid-column: 1/span 2;
  }
  #bdel{
    grid-column: 3/span 2;
  }